@charset "UTF-8";

html {
    min-height: 100%;
    overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  padding-bottom: 10px;
  min-height: 100%;
}

header {
  height: 700px;
}

header figure img#image{
  height: 500px;
  display: block;
  margin: auto;
  padding-top: 80px;
}

header figure img#grinch-01{
  position: absolute;
  height: 450px;
  top: 140px;
  right: 0px;
}

header h1#title {
  display: none;
}

nav.topnav ul {
  position: absolute;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  top: 30px;
  right: 35px;
}

nav.topnav li {
  display: inline-block;
  margin: 0px;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

nav.topnav h2 {
  display: none;
}

nav.topnav a {
  color: #30a953;
  border: 3px solid #30a953;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

nav.topnav a:hover {
  color: white;
  background-color: #30a953;
  border: 3px solid #30a953;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

section#tribute-info {
  background-image:
    radial-gradient(
      #9dc660,
      #38A646
    );
  transform: skewY(-7deg);
}

section#tribute-info img{
  position: absolute;
  height: 550px;
  top: 30px;
  left: 0px;
  transform: skewY(7deg);
}

section#tribute-info blockquote {
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-align: center;
  transform: skewY(7deg);
  line-height: 2.2;
  padding: 80px;
  letter-spacing: 0.5px;
}

section#tribute-info blockquote i.fas {
  font-size: 1.2em;
  text-align: center;
  transform: skewY(7deg);
  line-height: 1.8;
}

section#time-line {
  padding: 100px 150px 50px 150px;
}

section#time-line h2 {
  width: 150px;
  color: #30a953;
  border: 3px solid #30a953;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section#time-line ul {
  margin: 0 auto;
  text-align: center;
  padding: 40px 0px;
}

section#time-line li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 250px;
  width: 250px;
  margin: 5px;
}

section#time-line li:hover {
  transform: scale(1.8);
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section#time-line li#square-01 {
  background: url("https://drive.google.com/uc?export=view&id=1s7JRPkk3P4QfguZFfZonr2r4QywOKzAw");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-02 {
  background: url("https://drive.google.com/uc?export=view&id=1WYYxyofF0uodkqpbde-kUqocL5faYly2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-03 {
  background: url("https://drive.google.com/uc?export=view&id=1-XeO3eTRRC0eQP2UJdJwxp4mwt5xmgoq");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-04 {
  background: url("https://drive.google.com/uc?export=view&id=1_h7SRGze-IEsQLZuhwF7kNnWOEKaCLhM");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-05 {
  background: url("https://drive.google.com/uc?export=view&id=1UFOJoPY6merOXEHh4_6GE1q0-rOYjbb1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-06 {
  background: url("https://drive.google.com/uc?export=view&id=1A96IOIqMTsPr7sK3RiYmFpR1lYO66iqP");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-07 {
  background: url("https://drive.google.com/uc?export=view&id=12zSUwsm3OFUx5fLM2jfmbMNgDcAO7EDi");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-08 {
  background: url("https://drive.google.com/uc?export=view&id=1k1vfh3Afh5QIBaF5F9Axp7DKFI5ly-9i");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-09 {
  background: url("https://drive.google.com/uc?export=view&id=1tOmclxzmg-M-HYo1i7cJcDP3oN3ZnvRG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-10 {
  background: url("https://drive.google.com/uc?export=view&id=1-MRNkVMwNOgnISekOKi4XhIWamQmSF7F");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-11 {
  background: url("https://drive.google.com/uc?export=view&id=16MDMXvUTatOCQIe8WM3XlZZUuEEin48C");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#time-line li#square-12 {
  background: url("https://drive.google.com/uc?export=view&id=1N81P3SN-ylNqkUCW9qF_DDQNeiOyqMIl");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section#info {
  height: 400px;
  padding: 100px 480px 100px 150px;
  background-image:
    radial-gradient(
      #9dc660,
      #38A646
    );
  transform: skewY(7deg);
}

section#info img {
  position: absolute;
  height: 800px;
  top: 50px;
  right: 50px;
  transform: skewY(-7deg);
}

section#info div#column{
  padding-top: 35px;
  font-size: 17px;
  column-count: 3;
  transform: skewY(-7deg);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

section#info div#column p {
  margin: 0px;
}

section#info p#learn-more{
  font-size: 14px;
  text-align: center;
  transform: skewY(-7deg);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

section#info p#learn-more a{
  text-decoration: none;
  color: white;
}

footer#contact {
  height: 350px;
}

footer#contact p#made-by{
  padding: 10px 0px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}

footer#contact p#last-quote {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 2.2;
  padding: 60px 550px 100px 50px;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

footer#contact img {
  width: 150px;
  vertical-align: middle;
}

@media (max-width: 560px) {
  #menu-nav {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  #menu-nav ul {
    top: 5px;
  }
  #menu-nav li {
    width: 80px;
    height: 5px;
    padding: 5px;
  }
  #menu-nav a {
    border: 0px solid white;
  }
  #menu-nav a:hover {
    color: white;
    background-color: #30a953;
    border-radius: 0px;
    padding: 5px;
  }
  header {
    height: 450px;
  }
  header figure {
    margin: 0px;
  }
  header figure img#image{
    width: 400px;
    height: auto;
    display: block;
    margin-left: 30px;
    padding-top: 150px;
  }
  header figure img#grinch-01{
    height: 200px;
    top: 180px;
    right: 0px;
  }
  section#tribute-info img{
    height: 350px;
    top: 230px;
    left: -70px;
  }
  section#tribute-info blockquote {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding: 50px 0px 80px 0px;
    margin: 0px;
  }
  section#info {
    height: 500px;
    padding: 10px 20px 10px 20px;
  }
  section#info img {
    height: 400px;
    top: 410px;
    right: 10px;
  }
  section#info div#column{
    font-size: 12px;
    column-count: 2;
    line-height: 1.8;
  }
  section#info p#learn-more{
    padding: 0px 200px 0px 20px;
  }
  footer#contact {
    height: 350px;
  }
  footer#contact p#made-by{
    padding: 5px 0px;
    font-size: 10px;
  }
  footer#contact p#last-quote {
    font-size: 14px;
    line-height: 1.8;
    padding: 50px 220px 80px 30px;
  }
  footer#contact img {
    width: 100px;
    vertical-align: middle;
  }
}

@media (max-width: 850px) {
  header {
    height: 550px;
  }
  header figure {
    margin: 0px;
  }
  header figure img#image{
    width: 550px;
    height: auto;
    display: block;
    padding-top: 150px;
    margin-left: 75px;
  }
  header figure img#grinch-01{
    height: 350px;
    top: 120px;
  }
  section#tribute-info img{
    height: 450px;
    top: 0px;
    left: -50px;
  }
  section#tribute-info blockquote {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    padding: 80px 0px 80px 120px;
  }
  section#info {
    height: 450px;
    padding: 40px;
  }
  section#info img {
    height: 600px;
    top: 340px;
    right: 10px;
  }
  section#info div#column{
    font-size: 14px;
    column-count: 2;
    line-height: 1.8;
  }
  section#info p#learn-more{
    font-size: 16px;
    padding: 0px 300px 0px 20px;
  }
  footer#contact {
    height: 400px;
  }
  footer#contact p#made-by{
    padding: 5px 0px;
    font-size: 10px;
  }
  footer#contact p#last-quote {
    font-size: 16px;
    line-height: 1.8;
    padding: 110px 235px 220px 15px;
    letter-spacing: 0px;
  }
  footer#contact img {
    width: 125px;
    vertical-align: middle;
  }
}

@media (max-width: 1300px) {
  section#info {
    height: 400px;
    padding: 40px;
  }
  section#info img {
    height: 600px;
    top: 340px;
    right: 10px;
  }
  section#info div#column{
    font-size: 14px;
    column-count: 3;
    line-height: 1.8;
  }
  section#info p#learn-more{
    font-size: 16px;
    padding: 0px 300px 0px 20px;
  }
  footer#contact {
    height: 400px;
  }
  footer#contact p#made-by{
    padding: 5px 0px;
    font-size: 10px;
  }
  footer#contact p#last-quote {
    font-size: 16px;
    line-height: 1.8;
    padding: 110px 235px 220px 15px;
    letter-spacing: 0px;
  }
  footer#contact img {
    width: 125px;
    vertical-align: middle;
  }
